---
# Only the main Sass file needs front matter (the dashes are enough)
---

/* ==========================================================================
   KEEP OVERRIDES HERE SO THEY DONT END UP IN THE MAIN SASS FILE
   ========================================================================== */

/* 
   BODY
   ========================================================================== */
body { padding-top: 70px; }
.kp  {padding-right: 0; padding-left: 0;}
.kpl {padding-left: 0;}
.kpr {padding-right: 0;}

.pos-rel {position: relative !important;}
.pos-abs {position: absolute !important;}
.display-block {display: block !important;}

/* 
   HEADER ONLY
   ========================================================================== */

header {
  .navbar-brand {
    font-weight: 300;
    letter-spacing: 0.05em;
  }

  .i-wrap { 
    display: inline-block; 
    height: 18px;
    
    i {
      position: absolute;
    }
  }
}


.cart {
  position:relative; 
  display: inline-block; 
  margin-top: 10px;
  
  i {
    font-size: 2em;
  }

  .counter {
    padding: 0 5px;
    right: -14px;
    position: absolute;
    top: 0px;
    font-size: 9px;
    border-radius: 3px;
    cursor: default;
    height: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 9pt;
    color: #fff;
    font-weight: 600;
    line-height: 20px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
  }
}


.well {
  -webkit-box-shadow: none;
  box-shadow: none;
  min-height: 115px;
  
  &.brand,
  &.brand-2 {
    border-width: 0;

    code {
      color:#fff;
      background-color: transparent;
    }
  }
}

.off-canvas-hero {
  
  a {
    color: #fff;
    
    h2 {
      font-weight: 300;
      font-size:1.5em;
    }

    &:focus,
    &.focus,
    &:hover,
    &.hover,
    &:active,
    &.active {
      color:#fff;
    }
  }
}

// DESKTOP HEADER BAR
.well.bar-wrapper {
  background-color: #fff;
  border-width: 0;
}

.bar {
  width:960px !important;
  margin:0 auto;
  padding:12px;

  input {
    border-width:0;
  }
  
  i {
    position: relative;
    top: 7px;
    left: -3px;
  }

  span.i-wrap {
    float: left;
    display: inline-block;
    width:25px;
    height:36px;

    i {
      font-size: 2.75em;
      position: absolute;
      top:-2px;
      left: 0;
    }
  }

  .search-btn {
    position: absolute;
    right: 2px;
    top: -8px;
    color: #999;
  }

  .category-btn {
    background-color: #f5f5f5;
    border-bottom: 1px solid #f5f5f5;

    .btn-group {
      display:block;
      
      button {
        padding:7px 0;
        font-weight: normal;
        display: block;
        width:100%;
        text-align: left;
    
        i {
          position: absolute;
          right: -11px;
          left:auto;
          top: 5px;
        }
      }
    }
  }
  .categories-dropdown {
    top:34px;
    left: -11px;
    min-width: 381px;
  }

  .col-notifications {
     width: 6.33333%;
  }
  .col-myaccount,
  .col-cart {
    width: 17.66667%;
    left: 12px;

    span.display-block {
      position: absolute;
      top:-10px;
      left: 38px;
    }
  }
  .col-cart {
    left:25px;
  }
} 
// END DESKTOP HEADER BAR

// LIVE HELP BUTTON
.live-help-wrapper {

  .well {
    background-color: #fff;
    height:110px;
    
    a {
      right:-31px;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
      height:30px;
      line-height: 30px;
      padding: 0 10px;
      letter-spacing: 0.1em;
      top:37%;
      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-width: 1px;
      border-style: solid;
      border-bottom-width: 0px;
      
      &:hover,
      &.hover,
      &:focus,
      &.focus,
      &:active,
      &.active {
        color:#fff;
      }
    }
  }
}
// END LIVE HELP BUTTON

// RADIO BUTTONS
.rx-select-wrapper {

  label {
    margin-left: 6px;
  }

  .rx-select {
    height: 20px;
    width: 20px;
    background: #fff;
    display: inline-block;
    border: 2px solid #9E9E9E;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    float: left;
    position: relative;

    &.checked:before {
      position: absolute;
      right: 3px;
      left: 3px;
      top: 3px;
      bottom: 3px;
      content: "";
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
    }
  }
}
// END RADIO BUTTONS

.remember-me-label {
  margin-left: 15px;
}







