<!-- BRAND COLORS -->

<div class="row">
	<div class="col-xs-12">
      <h3>Color Scales</h3>
    </div>
</div>

<!-- PRIMARY COLOR -->
<div class="row">

    <!-- LIGHT -->
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="well brand lighten">
            <span class="small lighten"></span>
        </div>
    </div>

    <!-- PRIMARY -->
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="well brand">
          <span class="small">
            {{ site.data.sites[page.shortname].primarycolor }}
          </span>
        </div>
    </div>

    <!-- DARK -->
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="well brand darken">
            <span class="small darken"></span>
        </div>
    </div>

    <!-- GRADIENT -->
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="well brand gradient">
            <span class="small pull-left">{{ site.data.sites[page.shortname].primarycolor }}</span>
            <span class="text-center" style="display:inline-block; height:15px; width:15px; position:relative;">
                <i class="material-icons" style="position:absolute; top:-3px; left:-2px;">&#xE915;</i>
            </span>
            <span class="small darken pull-right"></span>
        </div>
    </div>

</div>

<!-- SECONDARY COLOR -->
<div class="row">
 
    <!-- LIGHT -->
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="well brand-2 lighten-2">
            <span class="small lighten-2"></span>
        </div>
    </div>

    <!-- PRIMARY -->
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="well brand-2">
          <span class="small">
            {{ site.data.sites[page.shortname].secondarycolor }}
          </span>
        </div>
    </div>

    <!-- DARK -->
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="well brand-2 darken-2">
            <span class="small darken-2"></span>
        </div>
    </div>

    <!-- GRADIENT -->
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="well brand-2 gradient-2">
            <span class="small lighten-2 pull-left"></span>
            <span class="text-center" style="display:inline-block; height:15px; width:15px; position:relative;">
                <i class="material-icons" style="position:absolute; top:-3px; left:-2px;">&#xE915;</i>
            </span>
            <span class="small darken-2 pull-right"></span>
        </div>
    </div>

</div>