<!-- BUTTONS -->
<div class="row">
    <div class="col-xs-12">
        <h3>Links</h3>
    </div>
</div>

<div class="row text-center link-section">

    <div class="col-xs-6 col-sm-4 col-md-2">
    	<div class="well">
    		<ul class="list-unstyled">
		        <li><a href="#" class="list-link mobile">Link List Mobile</a></li>
		        <li><a href="#" class="list-link mobile">Link List Mobile</a></li>
		        <li><a href="#" class="list-link mobile">Link List Mobile</a></li>
	      </ul>
    	</div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-2">
    	<div class="well">
    		<ul class="list-unstyled">
		        <li><a href="#" class="list-link">Link List Desktop</a></li>
		        <li><a href="#" class="list-link">Link List Desktop</a></li>
		        <li><a href="#" class="list-link">Link List Desktop</a></li>
	      	</ul>
    	</div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-2">
    	<div class="well">
    		<a href="#">Default Link</a>
    	</div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-2">
    	<div class="well">
    		<a href="#" class="primary-link">Primary Link Mobile</a>
    	</div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-2">
    	<div class="well">
    		<a href="#" class="primary-link desktop">Primary Link Desktop</a>
    	</div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-2">
    	<div class="well">
    		<a href="#" class="caret-link">Caret Link <i class="material-icons">&#xE315;</i></a>
    	</div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-2">
    	<div class="well">
    		<a class="btn btn-link">Button Link</a>
    	</div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
    	<div class="well">
    		<p>
	        Lorem ipsum dolor sit amet, <a href="#" class="inline-link">Inline Link</a> consectetur adipisicing elit. Facere quos ab, sapiente ea, hic non atque natus molestias fuga doloremque est ipsum. Nam magnam culpa temporibus pariatur blanditiis molestiae perferendis. <a href="#" class="inline-link">Inline Link</a>      
	      	</p>
    	</div>
    </div>

</div>


