<!-- BUTTONS -->
<div class="row">
    <div class="col-xs-12">
        <h3>Buttons</h3>
    </div>
</div>

<div class="row"> 

    <div class="col-xs-12 col-sm-3 col-md-2 col-md-offset-1 text-center">
        <div class="row">
            <div class="col-xs-6 col-sm-12">
                <button type="button" class="btn btn-primary {{ page.title | downcase }}">.btn
                    .btn-primary</button>
                <br><br>
            </div>
            <div class="col-xs-6 col-sm-12">
                <button type="button" class="btn btn-primary {{ page.title | downcase }} disabled">+ .disabled</button>
                <br><br>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-3 col-md-2 text-center">
        <div class="row">
            <div class="col-xs-6 col-sm-12">
                <button type="button" class="btn btn-secondary">.btn.btn-secondary</button>
                <br><br>
            </div>
            <div class="col-xs-6 col-sm-12">
                <button type="button" class="btn btn-secondary disabled">+ .disabled</button>
                <br><br>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-3 col-md-2 text-center">
        <div class="row">
            <div class="col-xs-6 col-sm-12">
                <button type="button" class="btn btn-muted">.btn.btn-muted</button>
                <br><br>
            </div>
            <div class="col-xs-6 col-sm-12">
                <button type="button" class="btn btn-muted disabled">+ .disabled</button>
                <br><br>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-3 col-md-2 text-center">
        <div class="row">
            <div class="col-xs-6 col-sm-12">
                <button type="button" class="btn btn-success">.btn.btn-success</button>
                <br><br>
            </div>
            <div class="col-xs-6 col-sm-12">
                <button type="button" class="btn btn-success disabled">+ .disabled</button>
                <br><br>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-3 col-md-2 text-center">
        <div class="row">
            <div class="col-xs-6 col-sm-12">
                <button type="button" class="btn btn-link">.btn.btn-link</button>
                <br><br>
            </div>
            <div class="col-xs-6 col-sm-12">
                <button type="button" class="btn btn-link disabled">+ .disabled</button>
                <br><br>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-xs-12">
        <hr>
    </div>
</div>

<div class="row"> 

    <div class="col-xs-12 col-sm-3 col-md-2 col-md-offset-1 text-center">
        <div class="row">
            <div class="col-xs-6 col-sm-12">
                <button type="button" class="btn btn-primary {{ page.title | downcase }} btn-block">.btn.btn-block</button>
                <br><br>
            </div>
            <div class="col-xs-6 col-sm-12">
                <button type="button" class="btn btn-secondary btn-block">.btn.btn-block</button>
                <br><br>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-3 col-md-2 text-center">
        <div class="row">
            <div class="col-xs-6 col-sm-12">
                <button type="button" class="btn btn-primary {{ page.title | downcase }} btn-lg">.btn.btn-lg</button>
                <br><br>
            </div>
            <div class="col-xs-6 col-sm-12">
                <button type="button" class="btn btn-secondary btn-lg">.btn.btn-lg</button>
                <br><br>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-3 col-md-2 text-center">
        <div class="row">
            <div class="col-xs-6 col-sm-12">
                <button type="button" class="btn btn-primary {{ page.title | downcase }}">.btn (default)</button>
                <br><br>
            </div>
            <div class="col-xs-6 col-sm-12">
                <button type="button" class="btn btn-secondary">.btn (default)</button>
                <br><br>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-3 col-md-2 text-center">
        <div class="row">
            <div class="col-xs-6 col-sm-12">
                <button type="button" class="btn btn-primary {{ page.title | downcase }} btn-sm">.btn.btn-sm</button>
                <br><br>
            </div>
            <div class="col-xs-6 col-sm-12">
                <button type="button" class="btn btn-secondary btn-sm">.btn.btn-sm</button>
                <br><br>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-3 col-md-2 text-center">
        <div class="row">
            <div class="col-xs-6 col-sm-12">
                <button type="button" class="btn btn-primary {{ page.title | downcase }} btn-xs">.btn.btn-xs</button>
                <br><br>
            </div>
            <div class="col-xs-6 col-sm-12">
                <button type="button" class="btn btn-secondary btn-xs">.btn.btn-xs</button>
                <br><br>
            </div>
        </div>
    </div>

</div>
