<!-- BRAND COLORS -->



<!-- PRIMARY COLOR -->
<div class="row">

    <div class="col-xs-12">
      <h4>Primary Color Scale</h4>
    </div>

    <!-- LIGHT -->
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="well brand lighten">
            <code class="small lighten"></code>
        </div>
    </div>

    <!-- PRIMARY -->
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="well brand">
          <code class="small">
            {{ site.data.sites[page.shortname].primarycolor }} - primary
          </code>
        </div>
    </div>

    <!-- DARK -->
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="well brand darken">
            <code class="small darken"></code>
        </div>
    </div>

    <!-- GRADIENT -->
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="well brand gradient">
            <code class="small pull-left">{{ site.data.sites[page.shortname].primarycolor }}</code>
            <span class="text-center" style="display:inline-block; height:15px; width:15px; position:relative;">
                <i class="material-icons" style="position:absolute; top:-3px; left:-2px;">&#xE915;</i>
            </span>
            <code class="small darken pull-right"></code>
        </div>
    </div>

</div>

<!-- SECONDARY COLOR -->
<div class="row">

    <div class="col-xs-12">
      <h4>Secondary Color Scale</h4>
    </div>
 
    <!-- LIGHT -->
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="well brand-2 lighten-2">
            <code class="small lighten-2"></code>
        </div>
    </div>

    <!-- PRIMARY -->
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="well brand-2">
          <code class="small">
            {{ site.data.sites[page.shortname].secondarycolor }} - secondary
          </code>
        </div>
    </div>

    <!-- DARK -->
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="well brand-2 darken-2">
            <code class="small darken-2"></code>
        </div>
    </div>

    <!-- GRADIENT -->
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="well brand-2 gradient-2">
            <code class="small lighten-2 pull-left"></code>
            <span class="text-center" style="display:inline-block; height:15px; width:15px; position:relative;">
                <i class="material-icons" style="position:absolute; top:-3px; left:-2px;">&#xE915;</i>
            </span>
            <code class="small darken-2 pull-right"></code>
        </div>
    </div>

</div>