<!-- COMPONENTS -->
<div class="row">
    <div class="col-xs-12">
        <h4>Responsive Site Elements</h4>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 text-center">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-12">
                <div class="row">

                    <!--CART COUNTER-->
                    <div class="col-xs-12 col-md-4">
                        <div class="well">
                            <div class="cart">
                                <i class="material-icons">shopping_cart</i>
                                <span class="counter">5</span>
                            </div>
                        </div>
                    </div>
                    <!--OFF-CANVAS HERO GRADIENT-->
                    <div class="col-xs-12 col-md-4">
                        <div class="well off-canvas-hero brand gradient text-left">
                            <a href="#"><h2>Hello, Customer Name</h2></a>
                            <a class="small" href="#">Switch Accounts</a>
                            <br>
                            <br>
                            <a class="small" href="#">Sign Out</a>
                        </div>
                    </div>
                    <!--RADIO BUTTONS-->
                    <div class="col-xs-12 col-md-4">
                        <div class="well text-left">
                            <form action="">
                                <div class="rx-select-wrapper">
                                    <input type="radio" name="radio1" checked="checked" class="hidden">
                                    <span class="rx-select checked"></span>
                                    <label for="radio1"> Option 1</label>
                                </div>
                                <div class="rx-select-wrapper">
                                    <input type="radio" name="radio2" class="hidden">
                                    <span class="rx-select"></span>
                                    <label for="radio2"> Option 2</label>
                                </div>
                                <div class="rx-select-wrapper">
                                    <input type="radio" name="radio3" class="hidden">
                                    <span class="rx-select"></span>
                                    <label for="radio3"> Option 3</label>
                                </div>
                            </form>    
                        </div>
                    </div>
                    <!--LIVE HELP BUTTON-->
                    <div class="col-xs-12 col-md-4 live-help-wrapper">
                        <div class="well pos-rel">
                            <a class="border-dark text-capitalize pull-right brand gradient-reverse pos-abs" href="#">Live Help</a>    
                        </div>
                    </div>
                    <!--REMEMBER ME SWITCH-->
                    <div class="col-xs-12 col-md-4">
                        <div class="well">
                            <form action="switch">
                                <input type="checkbox" name="switch" checked class="switch">
                                <label for="switch" class="remember-me-label">Remember Me</label>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div> 
    </div> 
</div>

<div class="row">
    <div class="col-xs-12">
        <h4>Desktop Site Elements (960px)</h4>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 text-center">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">

                    <!--DESKTOP HEADER BAR-->
                    <div class="col-xs-12">
                            <div class="container-fluid well white-well">
                                <div class="row desktop960">
                                    <img class="logo" src="{{ site.baseurl }}/img/logos/{{ page.title | downcase }}_logo.png"
                                         alt="{{ page.title }} Logo">
                                    <div class="col-xs-12 bar-wrapper">
                                        <div class="bar">

                                            <!--         Catgories Dropdown -->
                                            <div class="bar-component pull-left products">
                                                <div class="content">
            <span class="title-wrap">
              <span class="title">Alle Kategorien</span>
            <span class="carat-wrap"><i class="material-icons">arrow_drop_down</i></span>
            </span>
                                                </div>
                                            </div>

                                            <!--         Search Component   -->
                                            <div class="bar-component pull-left search">
                                                <div class="content">
                                                    <div class="search-wrapper">
                                                        <form action="">
                                                            <label for="search" class="sr-only">search</label>
                                                            <input type="text" class="form-control search-input" placeholder="Ich suche" />
                                                            <button type="submit"><i class="material-icons btn-link">search</i></button>
                                                            <button class="title-wrap all-btn">
                                                                <span class="title">Alle</span>
                                                                <span class="carat-wrap"><i class="material-icons">arrow_drop_down</i></span>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--         Cart Component-->
                                            <div class="bar-component pull-right mycart">
                                                <div class="content">
                                                    <div class="icon-col icon-down"><i class="material-icons">shopping_cart</i></div>
            <span class="title-wrap">
              <span class="title">Warenkorb</span>
            <span class="carat-wrap"><i class="material-icons">arrow_drop_down</i></span>
            <br />
            <span class="small sub-text">5 Artikels</span>
            </span>
                                                </div>
                                            </div>

                                            <!--         My Account Component -->
                                            <div class="bar-component pull-right myaccount">
                                                <div class="content">
                                                    <div class="icon-col icon-down"><i class="material-icons">person</i></div>
            <span class="title-wrap">
              <span class="title">Mein Konto</span>
            <span class="carat-wrap"><i class="material-icons">arrow_drop_down</i></span>
            <br />
            <span class="small sub-text">Anmelden/Registrieren</span>
            </span>
                                                </div>
                                            </div>

                                            <!--         Notifications Component -->
                                            <div class="bar-component pull-right notification">
                                                <div class="content">
                                                    <div class="icon-col">
                                                        <i class="material-icons">notifications</i>
                                                        <span class="counter">5</span>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!--SLIDESHOW DOTS-->
                    <div class="col-xs-12 col-md-4">
                        <div class="well text-center dots-wrapper">
                            <ul class="list-inline dots">
                                <li class="active"></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>