<!-- BRAND COLORS -->



<!-- PRIMARY COLOR -->
<div class="row">

    <div class="col-xs-12">
      <h4>Primary Color Scale</h4>
    </div>

    <!-- LIGHT -->
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="well brand lighten colorz">
            <code class="small hex"></code>
        </div>
    </div>

    <!-- PRIMARY -->
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="well brand colorz">
          <code class="small">
            <span class="hex"></span> - primary
          </code>
        </div>
    </div>

    <!-- DARK -->
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="well brand darken colorz">
            <code class="small hex"></code>
        </div>
    </div>

    <!-- GRADIENT -->
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="well brand gradient colorz-gr">
            <code class="small pull-left hex-start"></code>
            <span class="text-center" style="display:inline-block; height:15px; width:15px; position:relative;">
                <i class="material-icons" style="position:absolute; top:-3px; left:-2px;">&#xE915;</i>
            </span>
            <code class="small pull-right hex-end"></code>
        </div>
    </div>

</div>

<!-- SECONDARY COLOR -->
<div class="row">

    <div class="col-xs-12">
      <h4>Secondary Color Scale</h4>
    </div>
 
    <!-- LIGHT -->
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="well brand-2 lighten-2 colorz">
            <code class="small hex"></code>
        </div>
    </div>

    <!-- PRIMARY -->
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="well brand-2 colorz">
          <code class="small">
            <span class="hex"></span> - secondary
          </code>
        </div>
    </div>

    <!-- DARK -->
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="well brand-2 darken-2 colorz">
            <code class="small hex"></code>
        </div>
    </div>

    <!-- GRADIENT -->
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="well brand-2 gradient-2 colorz-gr">
            <code class="small pull-left hex-start"></code>
            <span class="text-center" style="display:inline-block; height:15px; width:15px; position:relative;">
                <i class="material-icons" style="position:absolute; top:-3px; left:-2px;">&#xE915;</i>
            </span>
            <code class="small pull-right hex-end"></code>
        </div>
    </div>

</div>